﻿/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

/*================================
    GOOGLE FONT
==================================*/
@import url(http://fonts.googleapis.com/css?family=Lato);
	/* FREE GOOGLE FONTS */

/*================================
  GENERAL STYLES
==================================*/
body {
	font-family: 'Lato', sans-serif;
	line-height: 30px;
	font-size: 14px;
}

section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.pad-bottom {
	padding-bottom: 70px;
}

.text-right {
	text-align: right;
}

.head-line {
	margin-bottom: 20px;
	line-height: 30px;
	font-size: 25px;
	color: #737373;
}

/*================================
  HEADER STYLES
==================================*/
header {
	background-color: #48A5FF;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 12px;
}

header .logo-wrapper img {
	max-height: 35px;
}

header .menu-links {
	padding-top: 5px;
}

header .menu-links a {
	font-size: 30px;
	color: #fff;
	font-weight: 900;
	margin: 15px;
}

header .menu-links a:hover, header .menu-links a:focus {
	text-decoration: none;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

/*================================
  HOME SECTION STYLES
==================================*/
#home {
	background: url(../img/home.jpg) no-repeat center center;
	padding: 0;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
}

#home .overlay {
	padding-top: 120px;
	background-color: rgba(36, 36, 36, 0.8);
	min-height: 700px;
	padding-bottom: 40px;
}

#home h1 {
	margin-bottom: 20px;
	line-height: 40px;
	font-size: 35px;
	color: #48A5FF;
	text-transform: uppercase;
}

#home h4 {
	margin-bottom: 30px;
	line-height: 40px;
	font-size: 20px;
	color: #D0D0D0;
}

/*================================
  BUTTON STYLES
==================================*/
.btn-custom {
	min-height: 60px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	padding: 15px 40px 15px 40px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin: 25px 5px 5px 0px;
}

.btn-one {
	background-color: transparent;
	border: 5px solid #48A5FF;
	color: #000;
}

.btn-one:hover {
	background-color: #48A5FF;
	color: #fff;
	text-decoration: none;
}

.btn-two {
	background-color: #48A5FF;
	border: 5px solid #48A5FF;
	color: #fff;
}

.btn-two:hover {
	background-color: transparent;
	color: #000;
	text-decoration: none;
}

.btn-three {
	background-color: transparent;
	border: 5px solid #737373;
	color: #000;
}

.btn-three:hover {
	background-color: #737373;
	color: #fff;
	text-decoration: none;
}

/*================================
    ABOUT STYLES
==================================*/
.icon-wrapper {
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 50px;
}

.img-side {
	max-height: 420px;
}
/*================================
    CLIENTS SECTION STYLES
==================================*/
#clients {
	background: url(../img/clients.jpg) no-repeat center center;
	padding: 0;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
}

#clients .overlay {
	background-color: rgba(36, 36, 36, 0.8);
	min-height: 550px;
}

.client-cover {
	background-color: #0094ff;
	padding: 100px 50px 100px 50px;
	color: #fff;
}
/* TESTIMONIAL */
.testimonial-section {
	width: 100%;
	height: auto;
	padding: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	border: 5px solid rgba(0, 79, 255, 0.24);
	font-size: 20px;
	color: rgba(234, 234, 234, 1);
	line-height: 35px;
}

.testimonial-section:after {
	top: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	position: absolute;
	border-top-color: rgba(0, 79, 255, 0.24);
	border-width: 15px;
	margin-left: -15px;
}

.testimonial-section-name {
	margin-top: 30px;
	margin-left: 30px;
	text-align: left;
	color: rgba(0, 79, 255, 1);
	font-size: 16px;
}

.testimonial-section-name img {
	width: 100px;
	border: 5px solid rgba(234, 234, 234, 1);
}

.carousel-indicators-set {
	position: static;
	margin-left: 0px;
	width: 100%;
	color: rgba(234, 234, 234, 1);
}
/*================================
    FEATURES STYLES
==================================*/
#features {
	background-color: rgba(234, 234, 234, 0.90);
}

/*================================
    EMAIL-SUBSCRIBE STYLES
 ============================  */
#email-subscribe .form-control {
	display: inline;
	height: 50px;
	font-size: 20px;
	margin-right: 20px;
	width: 60%;
}

#email-subscribe .btn-subscribe {
	height: 50px;
	font-size: 20px;
	color: #fff;
	background-color: #737373;
	border-color: #5C5C5C;
	margin-top: -10px;
}

/*================================
    CONATCT SECTION STYLES
==================================*/
#contact {
	background: url(../img/contact.jpg) no-repeat center center;
	padding: 0;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-background-size: cover;
}

#contact .overlay {
	background-color: rgba(36, 36, 36, 0.8);
	min-height: 350px;
}

#contact .social a, #contact .social a:hover, #contact .social a:focus {
	margin: 2px;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.36);
	color: #fff;
	font-size: 25px;
}

.space {
	height: 40px;
}

.contact-cover {
	background-color: #0094ff;
	padding: 50px 50px 50px 50px;
	color: #fff;
}
/*================================
    FOOTER SECTION STYLES
 ============================  */
footer {
	padding: 15px;
	background-color: #48A5FF;
	color: #fff;
}

footer a, footer a:hover, footer a:focus {
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
}

/*================================
    RESPONSIVE STYLES
 ============================  */
@media ( min-width : 100px) and (max-width: 498px) {
	#email-subscribe .form-control {
		display: block;
		width: 100%;
	}
	#email-subscribe .btn-subscribe {
		margin-top: 20px;
	}
}